anytree==2.8.0
atomicwrites==1.4.1
attrs==22.1.0
colorama==0.4.5
iniconfig==1.1.1
packaging==21.3
pickpack==1.0.0
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==6.2.5
six==1.16.0
toml==0.10.2
windows-curses==2.3.0
